<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="John Krasnay" />
   <!-- <link href="http://feeds.feedburner.com/tom-preston-werner" rel="alternate" title="Tom Preston-Werner" type="application/atom+xml" /> -->

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/reset.css" type="text/css" />
   <link rel="stylesheet" href="/css/960.css" type="text/css" />
   <link rel="stylesheet" href="/css/styles.css" type="text/css" />

</head>
<body>

<div class="container_12">

  <div class="grid_12 banner">
    <a href="/">John Krasnay's Bits</a>
  </div>
  
  <div class="clear"></div>

  <div class="grid_9 content">
      {{ content }}
  </div>
  
  <div class="grid_3">
    <div class="sidebar">
        
      <h3>About Me</h3>

      <p>
        I'm the co-founder and CTO of <a href="http://effectiveregsitration.com">Effective Registration</a>.
        Previously, I worked as a contract Java developer, system architect, and development team leader for over 16 years.
      </p>
        
      <p> My major open source contribution is the <a
          href="http://vex.sourceforge.net/">Vex XML editor</a>. Vex has been
      adopted by the <a href="http://www.eclipse.org/webtools/incubator/">Eclipse WTP Incubator</a> and will hopefully one day be the official visual XML
      editor for Eclipse.
      </p>

    </div>
  </div>
</div>

</body>
</html>
